
    

  <nav class="navbar navbar-expand-sm " aria-label="Third navbar example">
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-2 mb-sm-0">
          <li class="breadcrumb-item"><i class="bi bi-house-door"></i></li>
          <li class="breadcrumb-item active" aria-current="page">Empresas</li>
          <li class="breadcrumb-item"><a href="#">Empresa</a></li>
        </ol>
      </nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"  aria-expanded="false" aria-controls="navbarsExample03">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
         
         
        </ul>
        <img src="assets/images/user.png" width="40" class="rounded me-3 " alt="">
        <div>Usuario apellido <i class="bi bi-chevron-down" style="color: rgb(0, 140, 255);"></i> </div>
        
      </div>
    </div>
  </nav>

