

    <div class="row py-5 ">

        <div class=" h-90vh justify-content-around align-content-center col-6" >
                <h1 style="color: rgb(0, 179, 255); font-weight: 700;">¿ Que quieres buscar?</h1>
                <p style="color: gray;">Encuentra la información que deseas consultar.</p>
    
    
                <div class="btn-group btn-group-sm mt-5 mb-5" role="group" aria-label="Small button group">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                        style="color:rgb(0, 76, 255); background-color: rgba(0, 183, 255, 0.498);">
                        Todos los servicios
                    </button>
                    <input type="text" class="form-control" placeholder="Que servicio quieres consultar">
                    <button style="background-color: rgb(0, 179, 255);" type="button" class="btn"><i
                            class="bi bi-search"></i></button>
                </div>
    
                <div class="shadow-sm p-3  bg-body-tertiary rounded mt-5 ">
                    <div class="row mb-3 text-start">
                        <div class="col-md-4 ">
                            <strong style="font-size: 14px; color: rgb(7, 90, 193);"
                                class="fw-semibold">Certificado</strong>
                            <span style="font-size: 11px;" class="d-block small opacity-75 mt-2 mb-3 ">Conoce los beneficios
                                que tenemos para ti al registrarte</span>
                            <button type="button"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                class="btn btn-outline-success">+ Beneficios</button>
                        </div>
                        <div class="col-md-4 ">
                            <strong style="font-size: 14px; color: rgb(7, 90, 193);" class="fw-semibold">Crear
                                cuenta</strong>
                            <span style="font-size: 11px;" class="d-block small opacity-75 mt-2 mb-3 ">Conoce los beneficios
                                que tenemos para ti al registrarte</span>
                            <button type="button"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                class="btn btn-outline-success">Ver todo</button>
                        </div>
                        <div class="col-md-4 ">
                            <strong style="font-size: 14px; color: rgb(7, 90, 193);" class="fw-semibold">Top
                                trámites</strong>
                            <span style="font-size: 11px;" class="d-block small opacity-75 mt-2 mb-3 ">Conoce los trámites
                                más solicitados.</span>
                            <button type="button"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                class="btn btn-outline-success">Ver todo</button>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-1" ></div>
        <div class="col-5 h-90vh justify-content-around align-content-center">
            <div class="text-container">
                <img src="assets/images/resource-1.png" width="400" class="rounded me-3 " alt="">
                <div class="text-background">SERVICIOS QUIPUX</div>
            </div>

            <div class="shadow-sm p-3  bg-body-tertiary mt-3" style="border-left: solid blue;">
                <div class="row mb-3 text-start">
                    <div class="col-md-12 ">
                        <strong style="font-size: 14px; color: rgb(7, 90, 193);" class="fw-semibold">Tramites en tu
                            mano</strong>
                        <span style="font-size: 11px;" class="d-block small opacity-75 ">Ahora podrás hacer todos tus
                            trámites desde la comodidad de tu
                            casa, desde cualquier dispositivo computadora, tablet o móvil.
                        </span>

                            <div class="row mt-2">
                                <div class="col-3">
                                    <p style="color: rgb(164, 172, 179); font-weight: 700;">
                                        < <sup style="color: rgb(29, 141, 227); font-weight: 700;">
                                            1</sup>&frasl;<sub>4</sub>>
                                    </p>
                                </div>
                                <div class="col-9">
                                    <div class="progress" role="progressbar" aria-label="Basic example"
                                        aria-valuenow="1" aria-valuemin="0" aria-valuemax="4">
                                        <div class="progress-bar" style="width: 25%;"></div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>

    </div>