<!-- <div class="row">

  <div class="col-md-4 ">

    <div class=" card p-3 " style="border: none;">
      <h6 class="fw-bold mb-4">INFORMACIÓN DE LA EMPRESA</h6>
     <div class="text-center">
      <p class="mb-4"><strong>Nombre</strong><br>Quipux S.A.S</p>
      <p class="mb-4"><strong>Fecha de creación</strong><br>1995/05/06</p>
      <p class="mb-4"><strong>Dirección</strong><br>Carrera 43A No. 3 Sur-130<br>Ed. Milla de Oro<br>Distrito de negocios Torre 1<br>
        Piso 12<br><p  class="mt-4">Medellín, Colombia</p></p>
      <p class="mb-4" ><strong >Número de teléfonos</strong><br>Fijo: <br> +57 (4) 313-70-00<br>Fax: <br> +57 (4) 313-44-77</p>
      <p><strong>Sitio Web</strong><br><a href="#">www.quipux.com/site</a></p>
     </div>
    </div>

  </div>



  <div class="col-md-7 card p-3 " style="border: none;">
    <div class="row">
      <h6 class="fw-bold mb-5">INFORMACIÓN DEL CONTACTO</h6>
      <div class="col">
        <div class=" card p-3 text-center" style="border: none;">
          <p class="mb-5"><strong>Dirección</strong><br>Carrera 52 # 91-66<br>Medellín Colombia</p>
          <p class="mb-5"><strong>Correo electrónico</strong><br><a
              href="mailto:usuarioapellido@hotmail.com">usuarioapellidohotmail.com</a></p>
          <p class="mb-5"><strong>Sitio Web</strong><br><a href="#">www.usuarioapellido.com</a></p>
          <p><strong>Red social</strong><br><a href="#">www.instagram.com/usuarioapellido</a><br><a href="#">www.linkeind.comm/usuarioapellido</a></p>
        </div>
    
      </div>
    
      <div class="col-1 d-flex justify-content-center">
        <div class="divider-vertical bg-dark"></div>
      </div>
    
      <div class="col card p-3 text-center " style="border: none;">
    
       
         <div>
          <p class="mb-5"><strong>Dirección de correspondencia de correo</strong><br>Carrera 52 # 91-66<br>Envigado Colombia</p>
          <p><strong>Número de teléfonos</strong><br>Fijo: <br> +57 (4) 313-70-00<br>Celular: <br> (312) 313-44-77</p>
         </div>
    
    
      </div>
    
    
    
    </div>

   
  </div>

</div> -->


<div class="row">

  <!-- Columna Principal -->

  <div class="col-md-4 ">
    <div class=" card p-3 " style="border: none;">
      <h6 class="fw-bold mb-4">INFORMACIÓN DE LA EMPRESA</h6>
      <div class="text-center">
        <p class="mb-4"><strong>Nombre</strong><br>Quipux S.A.S</p>
        <p class="mb-4"><strong>Fecha de creación</strong><br>1995/05/06</p>
        <p class="mb-4"><strong>Dirección</strong><br>Carrera 43A No. 3 Sur-130<br>Ed. Milla de Oro<br>Distrito de
          negocios Torre 1<br>
          Piso 12<br>
        <p class="mt-4">Medellín, Colombia</p>
        <p class="mb-4"><strong>Número de teléfonos</strong><br>Fijo: <br> +57 (4) 313-70-00<br>Fax: <br> +57 (4)
          313-44-77</p>
        <p><strong>Sitio Web</strong><br><a href="#">www.quipux.com/site</a></p>
      </div>
    </div>
  </div>
  <!-- Otra Columna de la Fila Principal -->
  <div class="col-md-8 card p-3">

    <!-- Fila Anidada dentro de la Columna Principal -->
    <div class="row">
      <!-- Subcolumna 1 -->
      <div class="col-md-5  ">
        <div>
          <h6 class="fw-bold mb-5">INFORMACIÓN DEL CONTACTO</h6>
          <div class=" text-center" style="border: none;">
            <p class="mb-5"><strong>Dirección</strong><br>Carrera 52 # 91-66<br>Medellín Colombia</p>
            <p class="mb-5"><strong>Correo electrónico</strong><br><a
                href="mailto:usuarioapellido@hotmail.com">usuarioapellidohotmail.com</a></p>
            <p class="mb-5"><strong>Sitio Web</strong><br><a href="#">www.usuarioapellido.com</a></p>
            <p><strong>Red social</strong><br><a href="#">www.instagram.com/usuarioapellido</a><br><a
                href="#">www.linkeind.comm/usuarioapellido</a></p>
          </div>
        </div>
      </div>

      <div class="col-2 d-flex justify-content-center">
        <div class="divider-vertical bg-dark"></div>
      </div>

      <!-- Subcolumna 2 -->
      <div class="col-md-5 ">
        <div>
          <p class="mt-5"><strong>Dirección de correspondencia de correo</strong><br>Carrera 52 # 91-66<br>Envigado
            Colombia</p>
          <p><strong>Número de teléfonos</strong><br>Fijo: <br> +57 (4) 313-70-00<br>Celular: <br> (312) 313-44-77</p>
        </div>
      </div>
    </div>
  </div>
</div>